.currentTodo {
	/* outline: 1px solid tomato; */
	position: relative;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
	box-shadow: var(--box-shadow-primary), inset 0px -2px 0px #3eb489;

	min-height: 3rem;
	padding: 1rem;
	margin-bottom: 1rem;

	transition: height 0.3s ease;
}

.badge {
	/* outline: 1px solid tomato; */
	position: absolute;
	top: 0;
	left: 1rem;
	transform: translateY(-50%);

	display: flex;
	align-items: center;
	justify-content: center;

	height: 1rem;

	background-color: #3eb489;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
}

.titleWrapper {
	display: flex;
	align-items: center;
}

@media screen and (max-width: 576px) {
	.currentTodo {
		min-height: 3.6rem;
	}
}
