.currentTodo {
	/* outline: 1px solid tomato; */
	position: relative;

	display: flex;
	align-items: center;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
	outline: 2px solid #3eb489;
	outline-offset: -2px;

	min-height: 3rem;
	padding: 1rem;
	margin-bottom: 1rem;

	transition: height 0.3s ease;
}

.badge {
	/* outline: 1px solid tomato; */
	position: absolute;
	top: 0;
	left: 1rem;
	transform: translateY(-50%);

	display: flex;
	align-items: center;
	justify-content: center;

	height: 1rem;

	background-color: #3eb489;
	border-radius: 0.2rem;
	padding: 0 0.2rem;
}

.titleWrapper {
}

@media screen and (max-width: 576px) {
	.currentTodo {
		min-height: calc(var(--small-btn-height) + 1.2rem);
	}
}
