.datePicker {
	/* outline: 1px solid tomato; */
	/* position: absolute; */
	/* top: 0; */
	/* left: 0; */
	/* display: inline-block; */
	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
	box-shadow: var(--box-shadow-primary);
	border-radius: 0.6rem;
	padding: 0.6rem;
}

.controls {
	/* outline: 1px solid tomato; */
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 0.4rem;
}

/* controls */
.controlsWrapper {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.controls {
	border-radius: var(--border-radius-secondary);
	box-shadow: var(--box-shadow-primary);

	overflow: hidden;
}

.controls button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 2rem;
	height: 2rem;

	background-color: var(--bg-color-secondary);
	color: inherit;
	border-radius: var(--border-radius-secondary);
	box-shadow: var(--box-shadow-primary);
}

.controls button svg {
	width: 75%;
	height: 75%;
}

/* left button svg */
.controls button:first-child svg {
	transform: rotate(180deg);
}

.days {
	display: grid;
	grid-template-columns: repeat(7, 2rem);
	grid-auto-rows: minmax(2rem, auto);
}

.weekDay {
	/* outline: 1px solid tomato; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.todayBtn {
	height: 2rem;
	width: 100%;

	background-color: var(--bg-color-tertiary);
	color: inherit;
	border-radius: var(--border-radius-secondary);
	box-shadow: var(--box-shadow-primary);

	margin-top: 0.6rem;
}
