.datePicker {
	/* outline: 1px solid tomato; */
	width: 100%;

	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
	box-shadow: var(--box-shadow-primary);
	border-radius: var(--border-radius-primary);

	padding: 0.6rem;
}

.controls {
	/* outline: 1px solid tomato; */
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-radius: var(--border-radius-secondary);
	box-shadow: var(--box-shadow-primary);

	margin-bottom: 0.4rem;
	overflow: hidden;
}

/* controls */
.controlsWrapper {
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
}

.controls button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: var(--small-btn-width);
	height: var(--small-btn-height);

	background-color: var(--bg-color-secondary);
	color: inherit;
	border-radius: var(--border-radius-secondary);
	box-shadow: var(--box-shadow-primary);
}

.controls button svg {
	width: 75%;
	height: 75%;
}

/* left button svg */
.controls button:first-child svg {
	transform: rotate(180deg);
}

.days {
	display: grid;
	grid-template-columns: repeat(7, var(--small-btn-height));
	grid-auto-rows: minmax(var(--small-btn-height), auto);
}

.weekDay {
	/* outline: 1px solid tomato; */
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.datePicker button[aria-label='Select the current day'] {
	margin-top: 0.6rem;
	width: 100%;
}

@media screen and (max-width: 567px) {
	.datePicker {
		padding: 0;
		box-shadow: unset;
	}

	.days {
		grid-template-columns: repeat(7, 1fr);
		grid-auto-rows: minmax(1fr, auto);
	}
}
