.detailCard {
	/* outline: 1px solid tomato; */
	position: fixed;
	top: 1rem;

	width: calc(var(--app-content-width) - 2rem);

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
	box-shadow: var(--box-shadow-primary);

	padding: 0.6rem;
	z-index: 99;
}
