:root {
	--filter-width: 2.4rem;
	--filter-height: 2rem;
	--filter-border-radius: 0.4rem;
	--filter-padding: 0 0.6rem;
}

.filtersWrapper {
	/* outline: 1px solid tomato; */
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color-dimmed);
	font-size: 1rem;
	font-weight: 500;
	margin-top: 1rem;
}

.datePickerBtn {
	height: var(--filter-height);
	border-radius: var(--filter-border-radius);
	background-color: var(--bg-color-secondary);
	padding: var(--filter-padding);
}

/* calendar */
.datePickerWrapper {
	/* outline: 1px solid red; */
	display: flex;
	align-items: center;
}

.datePicker {
	/* outline: 1px solid green; */
	position: relative;
	text-align: center;
	background-color: var(--bg-color-secondary);
	border-radius: var(--filter-border-radius);
	color: var(--text-color-primary);

	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;

	border: none;
	height: var(--filter-height);
	padding: var(--filter-padding);
	transition: background-color 0.3s ease;
}

.datePicker:hover {
	background-color: var(--bg-color-tertiary);
}

.datePicker:focus {
	outline: none;
}

.datePicker::-webkit-calendar-picker-indicator {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	filter: opacity(0);
	pointer-events: all;
}

.datePicker::-webkit-calendar-picker-indicator:hover {
	cursor: pointer;
}

.fieldset {
	display: flex;
	align-items: center;
	gap: 0.6rem;
	border: none;
}

.fieldset input:checked + .label {
	background-color: var(--bg-color-tertiary);
	color: var(--text-color-primary);
}

.fieldset input:checked + .viewModeLabel {
	color: var(--text-color-primary);
}

.viewModeWrapper {
	position: relative;
	/* outline: 1px solid tomato; */
	display: flex;
	align-items: center;
	background-color: var(--bg-color-secondary);
	border-radius: var(--filter-border-radius);
	height: var(--filter-height);
}

.viewModeLabel {
	position: relative;
	transition: color 0.3s ease;
	z-index: 5;
}

.activeViewMode {
	/* outline: 1px solid green; */
	position: absolute;
	top: 0;
	left: 0%;
	transform: translateX(0%);
	justify-self: flex-end;
	width: var(--filter-width);
	height: var(--filter-height);
	background-color: var(--bg-color-tertiary);
	border-radius: var(--filter-border-radius);
	padding: var(--filter-padding);

	transition-property: left, transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.inputAll:checked ~ .activeViewMode {
	left: 0%;
	transform: translateX(0%);
}

.inputToday:checked ~ .activeViewMode {
	left: 100%;
	transform: translateX(-100%);
}

/* label */
.filtersWrapper label {
	cursor: pointer;
	width: var(--filter-width);
	height: var(--filter-height);
}

.fieldset label {
	display: flex;
	align-items: center;
	justify-content: center;
}

.label {
	display: flex;
	align-items: center;
	background-color: var(--bg-color-secondary);
	border-radius: var(--filter-border-radius);
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.label:hover,
.viewModeLabel:hover {
	/* background-color: var(--bg-color-tertiary); */
	color: var(--text-color-primary);
}

.fieldset input {
	position: absolute;
	top: 0;
	left: 0;
	appearance: none;
}

.uncompletedTodo svg {
	transform: scale(1.2);
}

.separator {
	opacity: 0.5;
}
