/* filter */
.filter {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	height: var(--small-btn-height);
	width: var(--small-btn-width);

	border-radius: var(--border-radius-secondary);
	box-shadow: var(--box-shadow-primary);
}

/* input */
.input {
	position: absolute;
	appearance: none;
}

/* label */
.label {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	width: var(--small-btn-width);
	height: var(--small-btn-height);

	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-secondary);

	transition: background-color 0.3s ease;

	cursor: pointer;
}

/* icon */
.label svg {
	transition: color 0.3s ease;
	width: var(--small-icon-width);
	height: var(--small-icon-height);

	transition-property: color, transform;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

.input:checked + div .label svg {
	color: var(--text-color-primary);
}

/* highlight */
.highlight {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius-secondary);
	pointer-events: none;
}

.input:focus-visible ~ .highlight {
	outline: var(--focus-primary);
}

@media screen and (min-width: 576px) {
	.label:hover svg {
		transform: scale(1.1);
	}
}
