:root {
	--filter-width: 2.4rem;
	--filter-height: 2rem;
	--filter-border-radius: 0.4rem;
	--filter-padding: 0 0.6rem;
}

.filtersWrapper {
	/* outline: 1px solid tomato; */
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color-dimmed);
	font-size: 1rem;
	font-weight: 500;
	/* margin-top: 1rem; */

	background-color: var(--bg-color-primary);
	box-shadow: var(--box-shadow-primary);
	border-radius: var(--border-radius-primary) var(--border-radius-primary) 0 0;

	padding: 0.6rem;
}

.filtersLeft,
.filtersRight {
	display: flex;
	align-items: center;

	height: 100%;
}

/* separator */
.separator {
	opacity: 0.5;
	margin: 0 0.4rem;
}

@media screen and (max-width: 576px) {
	.filtersLeft {
		display: none;
	}

	.filtersRight {
		justify-content: space-between;
		width: 100%;
	}

	.separator {
		display: none;
	}
}
