.form {
	position: relative;
}

.input {
	height: 3rem;
	width: 100%;
	padding: 1rem;

	background-color: var(--bg-color-secondary);
	border-radius: 3rem;
	border: none;
	color: #bfbfbf;
	font-size: 1rem;
	font-weight: 600;
}

.input:focus {
	outline: 2px solid var(--accent-color);
}

.btnWrapper {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-0.5rem, -50%);
}

.btn {
	background-color: var(--accent-color);
	color: var(--text-color-primary);
	font-weight: 600;
	border-radius: 2rem;
	height: 2rem;
	padding: 0 1rem;
}

.btn:hover {
	filter: brightness(0.9);
}
