.leftSideBar {
	/* outline: 1px solid tomato; */
	position: fixed;
	left: 0;
	top: 0;

	height: 100vh;

	background-color: var(--bg);
	box-shadow: var(--box-shadow-primary);

	padding: 1rem;
	z-index: 149;
}
