.leftSideBar {
	/* outline: 1px solid tomato; */
	position: sticky;
	top: 0;

	height: 100vh;

	background-color: var(--bg);
	z-index: 149;
}

.content {
	display: flex;
	flex-direction: column;
	/* gap: 1rem; */

	padding: 1rem;
	padding-right: 0;
}

@media screen and (max-width: 576px) {
	.leftSideBar {
		position: fixed;
		top: 0;
		left: 0;
		width: 100% !important;
	}

	.content {
		padding: 1rem;
	}
}
