.mobileBottomMenu {
	/* outline: 1px solid tomato; */
	position: fixed;
	left: 0;
	bottom: 0;

	width: 100%;

	/* background: linear-gradient(to top, var(--bg) 10%, transparent); */
	background-color: var(--bg);
	border-top: 1px solid var(--bg-color-primary);
	box-shadow: var(--box-shadow-primary);

	padding: 0.6rem;
	z-index: 149;
}

.content {
	display: flex;
	justify-content: space-between;
	/* gap: 0.6rem; */

	/* background-color: var(--bg-color-primary); */
	border-radius: var(--border-radius-primary);
	box-shadow: var(--box-shadow-primary);
	padding: 0 0.6rem;
	padding-left: 0;
}

.content div:last-child {
	margin-left: auto;
}

/* open settings icon */
.mobileBottomMenu button[aria-label='Open settings'] svg {
	transform: scale(1.2);
}
