.mobileBottomMenu {
	/* outline: 1px solid tomato; */
	position: fixed;
	left: 0;
	bottom: 0;

	width: 100%;

	background: linear-gradient(to top, var(--bg) 10%, transparent);

	padding: 0.6rem;
	z-index: 149;
}

.content {
	display: flex;
	justify-content: space-between;

	background-color: var(--bg-color-primary);
	border-radius: var(--border-radius-primary);
	box-shadow: var(--box-shadow-primary);
	padding: 0.6rem;
}
