.notification {
	/* outline: 1px solid tomato; */
	position: fixed;
	width: 100%;

	display: flex;
	justify-content: center;
	/* left: 50%; */
	/* transform: translateX(-50%); */

	background: linear-gradient(to top, var(--bg) 10%, transparent);

	bottom: 1rem;
	z-index: 159;
}

.childrenWrapper {
	background-color: var(--bg-color-primary);
	box-shadow: var(--box-shadow-primary);
	border-radius: var(--border-radius-primary);
	padding: 0.6rem;
	padding-left: 1rem;
}

@media screen and (max-width: 576px) {
	.notification {
		padding: 0.6rem;
		bottom: 0;
	}

	.childrenWrapper {
		width: 100%;
	}
}
