.smallBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.6rem;

	min-width: var(--small-btn-width);
	height: var(--small-btn-height);

	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-secondary);
	box-shadow: var(--box-shadow-primary);
	font-size: 1rem;
	font-weight: 700;

	padding: 0 1rem;
}

/* svg */
.iconWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.smallBtn svg {
	width: var(--small-icon-width);
	height: var(--small-icon-height);

	color: var(--text-color-primary);
}
