.textBadge {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 2rem;

	background-color: var(--bg-color-secondary);
	border-radius: var(--border-radius-secondary);
	color: var(--text-color-primary);

	padding: 0.6rem;
}
