.todoList {
	position: relative;
	display: flex;
	flex-direction: column;
	/* margin-top: 1rem; */
	padding-top: 1rem;
	margin-bottom: 5rem;

	overflow-y: scroll;
}

/* ul */
.todoList ul {
	transition: opacity 0.3s ease;
}

.noTaskMsg {
	padding: 1rem;
}

/* bin title */
.binTitle {
	/* outline: 1px solid tomato; */
	text-align: left;
	/* color: #ffcc66; */
	opacity: 1;

	padding: 0 1rem;
	/* margin settings are defined in dateSeparatorVariants */
}

.binTitle > div {
	border-bottom: 1px solid var(--bg-color-primary);
	/* padding-bottom: 0.4rem; */
}

.binTitleBtn {
	background-color: unset;
	font-family: inherit;
	font-size: 1rem;
	font-weight: 600;
	color: var(--text-color-dimmed);
}

.grabbing {
	cursor: grabbing;
}

/* state */
.hidden {
	opacity: 0.1;
	pointer-events: none;
}

.isToday {
	color: #ffcc66;
}

@media screen and (max-width: 576px) {
	.todoList ul {
		display: flex;
		flex-direction: column;
		/* gap: 0.4rem; */
	}

	.binTitle {
		padding: 0;
	}

	.binTitle div {
		border-bottom: none;
		padding: 0 0.4rem;
	}
}

@media screen and (min-width: 577px) {
	.todoList {
		/* outline: 1px solid tomato; */
		height: 100%;

		background-color: var(--bg-color-primary);
		border-radius: 0 0 var(--border-radius-primary) var(--border-radius-primary);

		padding-top: 0;
		/* margin-top: 1rem; */
		margin-bottom: 0;
	}
}
