.todoItemWrapper {
	/* outline: 1px solid tomato; */
	position: relative;
	border-radius: var(--border-radius-primary);
	min-height: 3rem;
	padding: 1rem 1rem;
	will-change: height;
}

.todoItemWrapper:hover {
	background-color: var(--bg-color-primary);
	box-shadow: var(--box-shadow-primary);
}

.todoItem {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.text {
	text-align: left;
}

.btnWrapper {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	gap: 0.2rem;
	height: 100%;
	background: linear-gradient(
		to right,
		transparent,
		var(--bg-color-primary),
		var(--bg-color-primary),
		var(--bg-color-primary)
	);
	border-radius: 0 0.5rem 0.5rem 0;
	opacity: 0;
	padding: 0 0.6rem 0 3rem;
	pointer-events: none;
	/* z-index: 9; */
}

.todoItemWrapper:hover .btnWrapper {
	opacity: 1;
	pointer-events: all;
}

.btnWrapper button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: unset;
	width: 2.5rem;
	height: 2rem;
	border-radius: var(--border-radius-secondary);
}

.btnWrapper button:hover {
	background-color: var(--bg-color-secondary);
	/* border-radius: 50%; */
}

.btnWrapper svg {
	width: 0.8rem;
	height: 0.8rem;
}

.btnRename svg {
	width: 0.95rem;
	height: 0.95rem;
	color: #7fc7ff;
}

.btnRemove svg {
	color: #e4717a;
}

.btnMark svg {
	width: 0.95rem;
	height: 0.95rem;
	color: #3eb489;
}

/* state */
.isCompleted {
	/* opacity: 0.25; */
	color: var(--text-color-dimmed);
	text-decoration: line-through;
}
