.todoList {
	display: flex;
	flex-direction: column;
	margin: 1rem 0;
}

.binTitle {
	text-align: left;
	color: var(--text-color-dimmed);
	margin: 2rem 0 0.6rem 0;
	opacity: 1;
	animation: appear 0.3s ease;
}

.binTitle:first-child {
	margin: 0.6rem 0 0.6rem 0;
}
