.todoItemWrapper {
	/* outline: 1px solid tomato; */
	position: relative;
	border-radius: var(--border-radius-primary);
	min-height: 3rem;
	padding: 1rem;
	will-change: height;
}

.todoItemWrapper:hover {
	background-color: var(--bg-color-primary);
	box-shadow: var(--box-shadow-primary);
}

/* keyboard focus */
.todoItemWrapper.focus {
	box-shadow: var(--box-shadow-primary);
	background-color: var(--bg-color-primary);
}

.todoItemWrapper.focus .btnWrapper {
	opacity: 1;
	pointer-events: all;
}

.todoItem {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
}

.text {
	text-align: left;
}

/* btn */
.btnWrapper {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);

	display: flex;
	align-items: center;

	height: 100%;

	background: linear-gradient(
		to right,
		transparent,
		var(--bg-color-primary),
		var(--bg-color-primary),
		var(--bg-color-primary)
	);
	border-radius: 0 0.6rem 0.6rem 0;
	opacity: 0;

	padding: 0 0.6rem 0 3rem;
	pointer-events: none;
	/* z-index: 9; */
}

.todoItemWrapper:hover .btnWrapper {
	opacity: 1;
	pointer-events: all;
}

/* state */
.isCompleted {
	/* opacity: 0.25; */
	color: var(--text-color-dimmed);
	text-decoration: line-through;
}
