.todoApp {
	/* outline: 1px solid tomato; */
	display: flex;
	justify-content: center;
}

/* content */
.content {
	flex: 1;
	max-width: var(--app-content-width);
	padding: 1rem;
	padding-top: 0;
	order: 1;
}

.content h1 {
	text-align: center;
	font-size: 4rem;
	font-weight: 900;
	color: var(--text-color-primary);
}

/* remove todo notification */
.removeTodoNotif {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.removeTodoNotif span {
	white-space: nowrap;
	flex-grow: 1;
}

.removeTodoNotif button,
.removeTodoNotif svg {
	color: #3eb489 !important;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	background-color: var(--bg);

	touch-action: none;
	z-index: 89;
}

@media screen and (max-width: 576px) {
	.todoApp {
		display: block;
	}

	.content {
		padding: 0.4rem;
		padding-top: 3.4rem;
		margin: 0 auto;
	}

	.removeTodoNotif {
		justify-content: space-between;
	}
}
