.todoItemWrapper {
	position: relative;
	border-radius: 0.5rem;
}

.todoItemWrapper:hover {
	/* outline: 2px solid var(--accent-color); */
	background-color: var(--bg-color-secondary);
}

.todoItem {
	position: relative;
	/* height: 3rem; */
	padding: 1rem 1rem;
	width: 100%;
	display: flex;
	align-items: center;
	/* background-color: var(--bg-color-tertiary); */
	/* border: 2px solid #303030; */
	border-radius: 0.5rem;
}

.text {
	text-align: left;
}

.btnWrapper {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	gap: 0.2rem;
	height: 100%;
	background: linear-gradient(
		to right,
		transparent,
		var(--bg-color-secondary),
		var(--bg-color-secondary),
		var(--bg-color-secondary)
	);
	border-radius: 0 0.5rem 0.5rem 0;
	opacity: 0;
	padding: 0 0.6rem 0 3rem;
	pointer-events: none;
	z-index: 9;
}

.todoItemWrapper:hover .btnWrapper {
	opacity: 1;
	pointer-events: all;
}

.btnWrapper button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: unset;
	width: 2.5rem;
	height: 2.5rem;
	color: #bfbfbf;
}

.btnWrapper button:hover {
	background-color: var(--bg-color-tertiary);
	border-radius: 50%;
}

.btnRename:hover {
	color: #7fc7ff;
}

.btnRemove:hover {
	color: #e4717a;
}

.btnMark:hover {
	color: #3eb489;
}

/* state */
.isCompleted {
	opacity: 0.25;
	text-decoration: line-through;
}
