.todoActionsHub {
	/* outline: 1px solid tomato; */
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* title */
.title {
	margin-bottom: 1rem;
}

/* actions list */
.actionsList {
	/* outline: 1px solid green; */
}

/* action */
.actionsList button {
	/* outline: 1px solid red; */
	min-height: var(--small-btn-height);
	width: 100%;

	color: inherit;
	font-weight: 700;

	background-color: unset;
	padding: 1rem;
}
