.App {
	text-align: center;

	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: #111111;
	color: #bfbfbf;
}

.highlightDuplicate {
	animation: highlight 1s ease;
}

@keyframes highlight {
	0% {
		filter: brightness(1);
	}
	25% {
		filter: brightness(1.5);
	}
	50% {
		filter: brightness(1);
	}
	75% {
		filter: brightness(1.5);
	}
	100% {
		filter: brightness(1);
	}
}
