.App {
	min-height: 100dvh;
}

.highlightDuplicate {
	animation: highlight 2s ease;
}

@keyframes highlight {
	0% {
		/* filter: brightness(1); */
		outline: 2px solid rgba(25, 112, 194, 0);
	}
	25% {
		/* filter: brightness(1.5); */
		outline: 2px solid rgba(25, 112, 194, 1);
	}
	50% {
		/* filter: brightness(1); */
		outline: 2px solid rgba(25, 112, 194, 0);
	}
	75% {
		/* filter: brightness(1.5); */
		outline: 2px solid rgba(25, 112, 194, 1);
	}
	100% {
		/* filter: brightness(1); */
		outline: 2px solid rgba(25, 112, 194, 0);
	}
}
