::-webkit-scrollbar {
	width: 15px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-secondary);
	border-radius: 2px;
}

html[data-scheme='dark'] {
	--accent-color: #1971c2;

	--text-color-primary: #dfdfdf;
	--text-color-dimmed: hsl(211, 20%, 30%);

	--bg-color-primary: #1a2026;
	--bg-color-secondary: #212a33;
	--bg-color-tertiary: #2e3945;

	--box-shadow-primary: 0px 0px 15px rgba(0, 0, 0, 0.1);

	--border-radius-primary: 0.6rem;
	--border-radius-secondary: 0.4rem;
}

html[data-scheme='light'] {
	--accent-color: #1971c2;

	--text-color-primary: #111111;
	--text-color-dimmed: hsl(209, 37%, 78%);

	--bg-color-primary: #f0f0f0;
	--bg-color-secondary: #ffffff;
	--bg-color-tertiary: hsl(0, 0%, 90%);

	--box-shadow-primary: 0px 0px 15px rgba(0, 0, 0, 0.1);

	--border-radius-primary: 0.6rem;
	--border-radius-secondary: 0.4rem;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--bg-color-primary);
	color: var(--text-color-primary);
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	overflow-y: scroll;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
	border: none;
	cursor: pointer;
	transition-property: transform, filter;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

button:hover {
	filter: brightness(1.1);
}

button:active {
	transform: scale(0.95);
}

li {
	list-style: none;
}

input {
	border: none;
}
