::-webkit-scrollbar {
	display: none;
	/* width: 0; */
	/* height: 0; */
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: var(--bg-color-secondary);
	border-radius: 2px;
}

:root {
	--app-content-width: 555px;
	--box-shadow-primary: 0px 0px 10px rgba(0, 0, 0, 0.05);

	--border-radius-primary: 0.6rem;
	--border-radius-secondary: 0.4rem;
	--focus-primary: 2px solid var(--accent-color);

	--small-btn-width: 2.6rem;
	--small-btn-height: 2rem;

	--small-icon-width: 1rem;
	--small-icon-height: 1rem;
}

html[data-scheme='dark'] {
	--accent-color: #1970c2;

	/* --text-color-primary: #dfdfdf;
	--text-color-dimmed: hsl(211, 20%, 30%);

	--bg: #1a2026;
	--bg-color-primary: hsl(210, 19%, 15%);
	--bg-color-secondary: hsl(210, 19%, 19%);
	--bg-color-tertiary: hsl(210, 19%, 23%); */

	--text-color-primary: #e2e2e2;
	--text-color-dimmed: #4d4d4d;

	--bg: #121212;
	--bg-color-primary: hsl(0, 0%, 12%);
	--bg-color-secondary: hsl(0, 0%, 16%);
	--bg-color-tertiary: hsl(0, 0%, 21%);
}

html[data-scheme='light'] {
	--accent-color: hsl(209, 80%, 60%);

	--text-color-primary: #010101;
	--text-color-dimmed: #cccccc;

	--bg: #f0f0f0;
	--bg-color-primary: hsl(0, 0%, 97%);
	/* --bg-color-secondary: hsl(0, 0%, 92%); */
	--bg-color-secondary: transparent;
	--bg-color-tertiary: hsl(0, 0%, 100%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--bg);
	color: var(--text-color-primary);
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

	overflow-y: scroll;
	overscroll-behavior: none;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
	border: none;
	cursor: pointer;
	transition-property: transform, filter;
	transition-duration: 0.3s;
	transition-timing-function: ease;
}

button:hover {
	filter: brightness(1.1);
}

button:active {
	transform: scale(0.95);
}

li {
	list-style: none;
}

input,
textarea {
	color: var(--text-color-primary);
	border: none;
}

input:focus,
textarea:focus {
	outline: 2px solid var(--accent-color);
}

.focus {
	outline: var(--focus-primary);
}

@media screen and (max-width: 576px) {
	* {
		cursor: auto !important;
		touch-action: pan-y;
		user-select: none;
	}

	:root {
		--app-content-width: 99%;

		--small-btn-width: 3.9rem;
		--small-btn-height: 3rem;

		--small-icon-width: 1.5rem;
		--small-icon-height: 1.5rem;
	}

	html[data-scheme='dark'] {
		--text-color-primary: hsl(0, 0%, 80%);
		--text-color-dimmed: hsl(0, 0%, 30%);

		--bg: #000000;
		--bg-color-primary: hsl(0, 0%, 8%);
		--bg-color-secondary: hsl(0, 0%, 12%);
		--bg-color-tertiary: hsl(0, 0%, 16%);
	}
}
